@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-menu {
   background-image: url(../img/cafe.jpg);
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: 100%;
   aspect-ratio: 4 / 6;

   @include m.tablet {
      @include m.grid(2, v.$separacion);
      aspect-ratio: 10 / 6;
      background-size: 54%;
      background-position: bottom right;
   }

   @include m.desktop {
      aspect-ratio: 14 / 6;
   }

   .texto {
      p {
         font-size: 2rem;
      }
   }
}